# dependencies
node_modules/
__pycache__/
*.pyc
.venv/

# environment variables
.env
.env.*
.env.local
.env.production.local

# local scripts & database runners
scripts/

# next.js
.next/
out/

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
